# Extração das Bases

Nesse notebook vamos extrair os dados dos arquivos .xlsx, tratá-los e salvá-los em arquivos .csv

In [2]:
import pandas as pd
import numpy as np

### Dados de consumo mensal dos estados e regiões:

In [3]:
mensal = pd.read_excel("C:/Users/julia/USP/TCC/data/cimento/bruto/mensal.xlsx", None, 
                   names=["jan", "fev", "mar", "abr","mai","jun", "jul", "ago","set", "out","nov","dez", "total"])

for year in mensal:
    mensal[year]=mensal[year].dropna().transpose()
    mensal[year]=mensal[year].iloc[: , 1:]
    mensal[year]=mensal[year].replace("...", np.nan)
    
    #path = "C:/Users/julia/USP/TCC/data/cimento/bases/mensal/" + year + ".csv"
    #mensal[year].to_csv(path)

In [5]:
mensal.columns

AttributeError: 'dict' object has no attribute 'columns'

### Dados consolidados do histórico

In [15]:
consolidado = pd.read_excel("C:/Users/julia/USP/TCC/data/cimento/bruto/consolidado.xlsx", names=['Producao', 'Consumo aparente', 'Consumo Per-Capita', 'Exportacao','Importacao'])
consolidado = consolidado.iloc[3:-6,]
consolidado = consolidado.replace('...',np.nan)

path = "C:/Users/julia/USP/TCC/data/cimento/bases/consolidado.csv"
consolidado.to_csv(path)

### PIB por estado

In [19]:
pib_uf = pd.read_excel("C:/Users/julia/USP/TCC/data/pib/bruto/pibpm-base-2010-retropolado-sem-formula.xlsx", 
                       sheet_name=['PIB_UF'], 
                       names=['REGIAO/UF','2002','2003','2004','2005','2006','2007','2008','2009','2010','2011', '2012','2013','2014'])
pib_uf=list(pib_uf.values())[0]
pib_uf=pib_uf.iloc[3:-1, :]

path = "C:/Users/julia/USP/TCC/data/pib/bases/pib_uf.csv"
pib_uf.to_csv(path)

In [21]:
pib_uf.head()

,REGIAO/UF,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
3,NORTE,69902.366302,81554.145768,97051.142415,106523.352700,121371.647103,135631.867053,156676.708062,166210.200698,207093.644799,241027.920261,259100.991473,292442.290166,308076.996941
4,Rondônia,7467.629889,9425.010484,11004.641436,12511.821180,13054.713345,14438.376501,17285.541726,19725.009504,23907.886883,27574.714377,30112.720316,31121.412532,34030.981973
5,Acre,2971.301278,3377.234250,3784.002574,4300.581272,4661.806951,5458.172175,6410.254677,7407.821405,8342.355523,8949.433758,10137.924706,11473.930165,13458.697630
6,Amazonas,22093.338008,25862.134091,31090.695799,33980.876529,39933.212630,43479.773087,48115.264644,50559.839678,60877.122681,70734.401223,72242.700677,83051.232957,86668.643770
7,Roraima,2392.032670,2594.080872,2822.756978,3193.430418,3802.452110,4203.302126,4841.862424,5671.974580,6639.150477,7303.719267,7711.467115,9010.725278,9744.122308

### População

In [23]:
pib_pop = pd.read_excel('C:/Users/julia/USP/TCC/data/pib/bruto/pibpm-base-2010-retropolado-sem-formula.xlsx', sheet_name=['População'], names=['REGIAO/UF','2002','2003','2004','2005','2006','2007','2008','2009','2010','2011', '2012','2013','2014'])
pib_pop=list(pib_pop.values())[0]
pib_pop=pib_pop.iloc[3:-13, :]

path = "C:/Users/julia/USP/TCC/data/pib/bases/pib_pop.csv"
pib_pop.to_csv(path)

### PIB per capta

In [24]:
pib_pc = pd.read_excel('C:/Users/julia/USP/TCC/data/pib/bruto/pibpm-base-2010-retropolado-sem-formula.xlsx', sheet_name=['PIB per Capita'], names=['REGIAO/UF','2002','2003','2004','2005','2006','2007','2008','2009','2010','2011', '2012','2013','2014'])
pib_pc=list(pib_pc.values())[0]
pib_pc=pib_pc.iloc[3:-13, :]

path = "C:/Users/julia/USP/TCC/data/pib/bases/pib_pc.csv"
pib_pc.to_csv(path)