In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# MLP

## 1 camada

In [58]:
df = pd.read_csv("mlp_1c.csv")

In [59]:
df.head()

,bi_lstm,dense,epochs,neuronios,ativacao_lstm,ativacao_normal,normalizacao,mae,rmse,mape
0,1,50,256,relu,<class 'sklearn.preprocessing._data.StandardSc...,56061.402789,92126.911487,0.581974,NaN,NaN
1,1,50,256,relu,<class 'sklearn.preprocessing._data.MinMaxScal...,97335.369601,172628.009601,1.254184,NaN,NaN
2,1,50,256,relu,<class 'sklearn.preprocessing._data.PowerTrans...,57810.626841,105452.895209,0.617094,NaN,NaN
3,1,50,256,swish,<class 'sklearn.preprocessing._data.StandardSc...,80208.466471,133189.325813,0.655458,NaN,NaN
4,1,50,256,swish,<class 'sklearn.preprocessing._data.MinMaxScal...,97556.931119,176016.636952,1.160719,NaN,NaN

In [60]:
df = df.drop(["rmse", "mape"], axis=1)

In [61]:
df.columns = ["camadas", "epochs", "neuronios", "ativacao", "scaler", "mae", "rmse","mape"]

In [62]:
df.head()

,camadas,epochs,neuronios,ativacao,scaler,mae,rmse,mape
0,1,50,256,relu,<class 'sklearn.preprocessing._data.StandardSc...,56061.402789,92126.911487,0.581974
1,1,50,256,relu,<class 'sklearn.preprocessing._data.MinMaxScal...,97335.369601,172628.009601,1.254184
2,1,50,256,relu,<class 'sklearn.preprocessing._data.PowerTrans...,57810.626841,105452.895209,0.617094
3,1,50,256,swish,<class 'sklearn.preprocessing._data.StandardSc...,80208.466471,133189.325813,0.655458
4,1,50,256,swish,<class 'sklearn.preprocessing._data.MinMaxScal...,97556.931119,176016.636952,1.160719

In [44]:
df[df['mape'] == df['mape'].min()]

,camadas,epochs,neuronios,ativacao,scaler,mae,rmse,mape
48,1,150,256,relu,<class 'sklearn.preprocessing._data.StandardSc...,51665.374582,87660.116456,0.496628

In [63]:
df[df['mae'] == df['mae'].min()]

,camadas,epochs,neuronios,ativacao,scaler,mae,rmse,mape
30,1,100,128,relu,<class 'sklearn.preprocessing._data.StandardSc...,49866.553973,72656.394161,0.664476

## 2 camadas

In [64]:
df = pd.read_csv("mlp_2c.csv")

In [65]:
df.head()

,bi_lstm,dense,epochs,neuronios,ativacao_lstm,ativacao_normal,normalizacao,mae,rmse,mape
0,2,50,"(256, 128)",relu,<class 'sklearn.preprocessing._data.StandardSc...,41371.437382,71241.877465,0.515616,NaN,NaN
1,2,50,"(256, 128)",relu,<class 'sklearn.preprocessing._data.MinMaxScal...,51326.380031,85911.856023,0.616795,NaN,NaN
2,2,50,"(256, 128)",relu,<class 'sklearn.preprocessing._data.PowerTrans...,37203.376607,61874.840328,0.431909,NaN,NaN
3,2,50,"(256, 128)",swish,<class 'sklearn.preprocessing._data.StandardSc...,39187.797117,59486.120006,0.505132,NaN,NaN
4,2,50,"(256, 128)",swish,<class 'sklearn.preprocessing._data.MinMaxScal...,41822.471220,72895.405736,0.604841,NaN,NaN

In [66]:
df = df.drop(["rmse", "mape"], axis=1)
df.columns = ["camadas", "epochs", "neuronios", "ativacao", "scaler", "mae", "rmse","mape"]

In [67]:
df[df['mape'] == df['mape'].min()]

,camadas,epochs,neuronios,ativacao,scaler,mae,rmse,mape
50,2,100,"(256, 32)",relu,<class 'sklearn.preprocessing._data.PowerTrans...,32407.028752,55355.127272,0.354055

In [68]:
df[df['mae'] == df['mae'].min()]

,camadas,epochs,neuronios,ativacao,scaler,mae,rmse,mape
87,2,150,"(256, 32)",swish,<class 'sklearn.preprocessing._data.StandardSc...,29763.529366,44132.171825,0.420914

## 3 camadas

In [69]:
df = pd.read_csv("mlp_3c.csv")

In [70]:
df.head()

,bi_lstm,dense,epochs,neuronios,ativacao_lstm,ativacao_normal,normalizacao,mae,rmse,mape
0,2,50,"(256, 128, 64)",relu,<class 'sklearn.preprocessing._data.StandardSc...,30002.439361,48310.067298,0.470206,NaN,NaN
1,2,50,"(256, 128, 64)",relu,<class 'sklearn.preprocessing._data.MinMaxScal...,42713.278904,77553.783912,0.445415,NaN,NaN
2,2,50,"(256, 128, 64)",relu,<class 'sklearn.preprocessing._data.PowerTrans...,32172.396971,55486.235861,0.347017,NaN,NaN
3,2,50,"(256, 128, 64)",swish,<class 'sklearn.preprocessing._data.StandardSc...,30703.132052,45578.514072,0.389070,NaN,NaN
4,2,50,"(256, 128, 64)",swish,<class 'sklearn.preprocessing._data.MinMaxScal...,34654.993306,59991.394406,0.474579,NaN,NaN

In [71]:
df = df.drop(["rmse", "mape"], axis=1)

In [72]:
df.columns = ["camadas", "epochs", "neuronios", "ativacao", "scaler", "mae", "rmse","mape"]

In [73]:
df[df['mape'] == df['mape'].min()]

,camadas,epochs,neuronios,ativacao,scaler,mae,rmse,mape
39,2,100,"(256, 64, 32)",swish,<class 'sklearn.preprocessing._data.StandardSc...,25520.878431,42929.241362,0.25177

In [74]:
df[df['mae'] == df['mae'].min()]

,camadas,epochs,neuronios,ativacao,scaler,mae,rmse,mape
39,2,100,"(256, 64, 32)",swish,<class 'sklearn.preprocessing._data.StandardSc...,25520.878431,42929.241362,0.25177

## 4 camadas

In [80]:
df = pd.read_csv("mlp_4c.csv")

In [81]:
df.head()

,bi_lstm,dense,epochs,neuronios,ativacao_lstm,ativacao_normal,normalizacao,mae,rmse,mape
0,2,50,"(256, 128, 64, 32)",relu,<class 'sklearn.preprocessing._data.StandardSc...,26326.160748,41438.217823,0.364909,NaN,NaN
1,2,50,"(256, 128, 64, 32)",relu,<class 'sklearn.preprocessing._data.MinMaxScal...,34343.872179,63744.230626,0.349668,NaN,NaN
2,2,50,"(256, 128, 64, 32)",relu,<class 'sklearn.preprocessing._data.PowerTrans...,31532.772866,52116.961893,0.324656,NaN,NaN
3,2,50,"(256, 128, 64, 32)",swish,<class 'sklearn.preprocessing._data.StandardSc...,36856.448015,55762.412489,0.393365,NaN,NaN
4,2,50,"(256, 128, 64, 32)",swish,<class 'sklearn.preprocessing._data.MinMaxScal...,30476.705090,51480.998679,0.411971,NaN,NaN

In [82]:
df = df.drop(["rmse", "mape"], axis=1)

In [83]:
df.columns = ["camadas", "epochs", "neuronios", "ativacao", "scaler", "mae", "rmse","mape"]

In [84]:
df[df['mape'] == df['mape'].min()]

,camadas,epochs,neuronios,ativacao,scaler,mae,rmse,mape
16,2,150,"(256, 128, 64, 32)",swish,<class 'sklearn.preprocessing._data.MinMaxScal...,24458.88427,38424.874399,0.300042

In [85]:
df[df['mae'] == df['mae'].min()]

,camadas,epochs,neuronios,ativacao,scaler,mae,rmse,mape
16,2,150,"(256, 128, 64, 32)",swish,<class 'sklearn.preprocessing._data.MinMaxScal...,24458.88427,38424.874399,0.300042

# LSTM

# 1 camada

In [86]:
df = pd.read_csv("1_camada_lstm.csv")

In [87]:
df.head()

,lstm,dense,epochs,neuronios,ativacao_lstm,ativacao_normal,normalizacao,mae,rmse,mape
0,1,0,50,256,tanh,NaN,<class 'sklearn.preprocessing._data.StandardSc...,145620.711233,230701.962303,0.956742
1,1,0,50,256,tanh,NaN,<class 'sklearn.preprocessing._data.StandardSc...,145675.618287,230904.269365,0.956121
2,1,0,50,256,tanh,NaN,<class 'sklearn.preprocessing._data.MinMaxScal...,145615.780219,230703.060559,0.956318
3,1,0,50,256,tanh,NaN,<class 'sklearn.preprocessing._data.MinMaxScal...,145680.838155,230907.645260,0.956238
4,1,0,50,256,tanh,NaN,<class 'sklearn.preprocessing._data.PowerTrans...,145620.523386,230702.384324,0.956704

In [88]:
df[df['mape'] == df['mape'].min()]

,lstm,dense,epochs,neuronios,ativacao_lstm,ativacao_normal,normalizacao,mae,rmse,mape
204,1,0,150,32,relu,NaN,<class 'sklearn.preprocessing._data.StandardSc...,22694.215808,43918.041892,0.189037

In [89]:
df[df['mae'] == df['mae'].min()]

,lstm,dense,epochs,neuronios,ativacao_lstm,ativacao_normal,normalizacao,mae,rmse,mape
42,1,0,50,64,relu,NaN,<class 'sklearn.preprocessing._data.StandardSc...,21920.128251,35788.082371,0.230807

# 2 camadas

In [90]:
df = pd.read_csv("2_camada_lstm.csv")

In [91]:
df.head()

,lstm,dense,epochs,neuronios,ativacao_lstm,ativacao_normal,normalizacao,timesteps,mae,rmse,mape
0,2,0,50,"(256, 128)",tanh,NaN,<class 'sklearn.preprocessing._data.StandardSc...,3,146535.603309,231284.738465,0.977992
1,2,0,50,"(256, 128)",tanh,NaN,<class 'sklearn.preprocessing._data.StandardSc...,5,146606.448246,231492.731599,0.978083
2,2,0,50,"(256, 128)",tanh,NaN,<class 'sklearn.preprocessing._data.MinMaxScal...,3,146537.989216,231286.250160,0.978048
3,2,0,50,"(256, 128)",tanh,NaN,<class 'sklearn.preprocessing._data.MinMaxScal...,5,146615.236751,231498.297580,0.978290
4,2,0,50,"(256, 128)",tanh,NaN,<class 'sklearn.preprocessing._data.PowerTrans...,3,146535.624945,231284.752156,0.977992

In [92]:
df[df['mape'] == df['mape'].min()]

,lstm,dense,epochs,neuronios,ativacao_lstm,ativacao_normal,normalizacao,timesteps,mae,rmse,mape
229,2,0,150,"(256, 128)",swish,NaN,<class 'sklearn.preprocessing._data.StandardSc...,5,25002.061556,47565.155206,0.194949

In [93]:
df[df['mae'] == df['mae'].min()]

,lstm,dense,epochs,neuronios,ativacao_lstm,ativacao_normal,normalizacao,timesteps,mae,rmse,mape
231,2,0,150,"(256, 128)",swish,NaN,<class 'sklearn.preprocessing._data.MinMaxScal...,5,22157.857039,41223.864247,0.20139

In [94]:
df = pd.read_csv("lstm_2c.csv")

In [95]:
df.head()

,gru,dense,epochs,neuronios,ativacao_gru,ativacao_normal,normalizacao,timesteps,mae,rmse,mape
0,2,0,150,"(64, 32)",tanh,NaN,<class 'sklearn.preprocessing._data.StandardSc...,3,146758.589130,231426.080452,0.983246
1,2,0,150,"(64, 32)",tanh,NaN,<class 'sklearn.preprocessing._data.StandardSc...,5,146821.743253,231629.139848,0.983164
2,2,0,150,"(64, 32)",tanh,NaN,<class 'sklearn.preprocessing._data.MinMaxScal...,3,146759.636921,231426.744908,0.983270
3,2,0,150,"(64, 32)",tanh,NaN,<class 'sklearn.preprocessing._data.MinMaxScal...,5,146822.641202,231629.709028,0.983185
4,2,0,150,"(64, 32)",tanh,NaN,<class 'sklearn.preprocessing._data.PowerTrans...,3,146758.674762,231426.134755,0.983248

In [96]:
df[df['mape'] == df['mape'].min()]

,gru,dense,epochs,neuronios,ativacao_gru,ativacao_normal,normalizacao,timesteps,mae,rmse,mape
51,2,0,150,"(128, 64)",swish,NaN,<class 'sklearn.preprocessing._data.MinMaxScal...,5,26763.250349,55239.973041,0.218563

In [97]:
df[df['mae'] == df['mae'].min()]

,gru,dense,epochs,neuronios,ativacao_gru,ativacao_normal,normalizacao,timesteps,mae,rmse,mape
69,2,0,150,"(256, 32)",swish,NaN,<class 'sklearn.preprocessing._data.MinMaxScal...,5,22440.350515,40414.132892,0.230471

# GRU

## 1 camada

In [103]:
df = pd.read_csv("gru_1c.csv")

In [104]:
df.head()

,gru,dense,epochs,neuronios,ativacao_gru,ativacao_normal,normalizacao,timesteps,mae,rmse,mape
0,1,0,100,128,tanh,NaN,<class 'sklearn.preprocessing._data.StandardSc...,3,145610.034504,230699.435149,0.956182
1,1,0,100,128,tanh,NaN,<class 'sklearn.preprocessing._data.StandardSc...,5,145679.347199,230906.704828,0.956203
2,1,0,100,128,tanh,NaN,<class 'sklearn.preprocessing._data.MinMaxScal...,3,145615.453693,230702.855604,0.956310
3,1,0,100,128,tanh,NaN,<class 'sklearn.preprocessing._data.MinMaxScal...,5,145682.894437,230908.942803,0.956287
4,1,0,100,128,tanh,NaN,<class 'sklearn.preprocessing._data.PowerTrans...,3,145610.325275,230699.618674,0.956189

In [105]:
df[df['mape'] == df['mape'].min()]

,gru,dense,epochs,neuronios,ativacao_gru,ativacao_normal,normalizacao,timesteps,mae,rmse,mape
69,1,0,150,128,swish,NaN,<class 'sklearn.preprocessing._data.MinMaxScal...,5,29343.047004,66767.873153,0.245196

In [106]:
df[df['mae'] == df['mae'].min()]

,gru,dense,epochs,neuronios,ativacao_gru,ativacao_normal,normalizacao,timesteps,mae,rmse,mape
30,1,0,100,64,swish,NaN,<class 'sklearn.preprocessing._data.StandardSc...,3,21752.504851,33752.908425,0.261156

In [108]:
df = pd.read_csv("gru_1c_b.csv")

In [109]:
df.head()

,gru,dense,epochs,neuronios,ativacao_gru,ativacao_normal,normalizacao,timesteps,mae,rmse,mape
0,1,0,150,256,tanh,NaN,<class 'sklearn.preprocessing._data.StandardSc...,3,141966.990761,228412.474542,0.872843
1,1,0,150,256,tanh,NaN,<class 'sklearn.preprocessing._data.StandardSc...,5,142039.425970,228622.659079,0.872801
2,1,0,150,256,tanh,NaN,<class 'sklearn.preprocessing._data.MinMaxScal...,3,141975.684731,228417.904291,0.873037
3,1,0,150,256,tanh,NaN,<class 'sklearn.preprocessing._data.MinMaxScal...,5,142044.335585,228625.724095,0.872911
4,1,0,150,256,tanh,NaN,<class 'sklearn.preprocessing._data.PowerTrans...,3,141967.709914,228412.923675,0.872859

In [110]:
df[df['mape'] == df['mape'].min()]

,gru,dense,epochs,neuronios,ativacao_gru,ativacao_normal,normalizacao,timesteps,mae,rmse,mape
15,1,0,150,256,swish,NaN,<class 'sklearn.preprocessing._data.MinMaxScal...,5,26750.987571,52281.184412,0.244416

In [111]:
df[df['mae'] == df['mae'].min()]

,gru,dense,epochs,neuronios,ativacao_gru,ativacao_normal,normalizacao,timesteps,mae,rmse,mape
15,1,0,150,256,swish,NaN,<class 'sklearn.preprocessing._data.MinMaxScal...,5,26750.987571,52281.184412,0.244416

## 2 camadas

In [112]:
df = pd.read_csv("gru_2c.csv")

In [113]:
df.head()

,gru,dense,epochs,neuronios,ativacao_gru,ativacao_normal,normalizacao,timesteps,mae,rmse,mape
0,2,0,50,"(256, 128)",tanh,NaN,<class 'sklearn.preprocessing._data.StandardSc...,3,146532.824055,231282.977660,0.977926
1,2,0,50,"(256, 128)",tanh,NaN,<class 'sklearn.preprocessing._data.StandardSc...,5,146599.372223,231488.250393,0.977916
2,2,0,50,"(256, 128)",tanh,NaN,<class 'sklearn.preprocessing._data.MinMaxScal...,3,146535.074421,231284.403420,0.977979
3,2,0,50,"(256, 128)",tanh,NaN,<class 'sklearn.preprocessing._data.MinMaxScal...,5,146601.330655,231489.490657,0.977962
4,2,0,50,"(256, 128)",tanh,NaN,<class 'sklearn.preprocessing._data.PowerTrans...,3,146532.916341,231283.036128,0.977928

In [114]:
df[df['mape'] == df['mape'].min()]

,gru,dense,epochs,neuronios,ativacao_gru,ativacao_normal,normalizacao,timesteps,mae,rmse,mape
267,2,0,150,"(256, 32)",swish,NaN,<class 'sklearn.preprocessing._data.MinMaxScal...,5,24991.856829,50601.765913,0.200679

In [115]:
df[df['mae'] == df['mae'].min()]

,gru,dense,epochs,neuronios,ativacao_gru,ativacao_normal,normalizacao,timesteps,mae,rmse,mape
102,2,0,50,"(64, 32)",swish,NaN,<class 'sklearn.preprocessing._data.StandardSc...,3,22321.80551,35788.28879,0.278496