# Data prep

Esse notebook desloca os dados em um ano ou um mês, dependendo do indicador

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
PATH="https://raw.githubusercontent.com/LeiteJu/TCC/main/dados/input/"

x = pd.read_csv(f"{PATH}features.csv")
x = x.sort_values(["data", "estados"])

y = pd.read_csv(f"{PATH}target.csv")
y['data'] = pd.to_datetime(y['data'])

In [6]:
ANUAL = [ 'pib_pc', 'pib_pmc', 'pib_pcpt', 'pib_cc',
          'populacao', 'idh_l', 'idh_r', 'idh_e', 'desemprego']
MENSAL = ['incc', 'ipca', 'igp', 'selic', 'nfsp',
           'estoque', 'producao', 'preco_ton', 'preco_saco',
           'preco_kg']

In [7]:
NULL = -1

In [12]:
df = x.copy()
df['data'] = pd.to_datetime(df['data'])
df=df.reset_index(drop=True)

In [15]:
df.head()

,estados,data,pib_pc,pib_pmc,pib_pcpt,pib_cc,populacao,incc,ipca,igp,...,idh_l,idh_r,idh_e,nfsp,estoque,desemprego,producao,preco_ton,preco_saco,preco_kg
0,AC,2002-01-01,4.342234e+05,2.285692e+05,0.739806,5.065002e+05,586942.0,0.36,0.52,0.19,...,0.694,0.612,0.325,1.9,6.098524e+06,6.582788,NaN,NaN,NaN,NaN
1,AL,2002-01-01,1.677938e+06,8.832433e+05,0.581097,1.037095e+06,2887535.0,0.36,0.52,0.19,...,0.647,0.574,0.282,1.9,6.098524e+06,9.080515,NaN,105.134783,12.5,0.25
2,AM,2002-01-01,2.883869e+06,1.518029e+06,0.973688,2.401570e+06,2961801.0,0.36,0.52,0.19,...,0.692,0.608,0.324,1.9,6.098524e+06,12.966133,NaN,134.572522,16.0,0.32
3,AP,2002-01-01,4.708095e+05,2.478276e+05,0.911519,3.136418e+05,516511.0,0.36,0.52,0.19,...,0.711,0.638,0.424,1.9,6.098524e+06,20.539464,NaN,NaN,NaN,NaN
4,BA,2002-01-01,7.990762e+06,4.206227e+06,0.599762,7.050330e+06,13323212.0,0.36,0.52,0.19,...,0.680,0.594,0.332,1.9,6.098524e+06,10.735432,NaN,100.929391,12.0,0.24

In [16]:
df = pd.merge(df, y, how='left', on=['data', 'estados'])

In [18]:
df_sorted = df.sort_values(by=["estados", "data"]).copy()
for estado in df.estados.unique():
    indexes = df_sorted[df_sorted["estados"] == estado].index
    df_sorted.loc[indexes, ANUAL] = df_sorted.loc[indexes, ANUAL].shift(12)
    df_sorted.loc[indexes, MENSAL] = df_sorted.loc[indexes, MENSAL].shift(1)

In [19]:
df_sorted.head(15)

,estados,data,pib_pc,pib_pmc,pib_pcpt,pib_cc,populacao,incc,ipca,igp,...,idh_r,idh_e,nfsp,estoque,desemprego,producao,preco_ton,preco_saco,preco_kg,consumo
0,AC,2002-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,AC,2002-02-01,NaN,NaN,NaN,NaN,NaN,0.36,0.52,0.19,...,NaN,NaN,1.90,6.098524e+06,NaN,NaN,NaN,NaN,NaN,NaN
54,AC,2002-03-01,NaN,NaN,NaN,NaN,NaN,0.58,0.88,0.18,...,NaN,NaN,1.79,6.098524e+06,NaN,NaN,NaN,NaN,NaN,NaN
81,AC,2002-04-01,NaN,NaN,NaN,NaN,NaN,0.55,1.49,0.11,...,NaN,NaN,1.79,6.098524e+06,NaN,NaN,NaN,NaN,NaN,NaN
108,AC,2002-05-01,NaN,NaN,NaN,NaN,NaN,0.33,2.30,0.70,...,NaN,NaN,1.65,6.098524e+06,NaN,NaN,NaN,NaN,NaN,NaN
135,AC,2002-06-01,NaN,NaN,NaN,NaN,NaN,2.53,2.51,1.11,...,NaN,NaN,1.55,6.098524e+06,NaN,NaN,NaN,NaN,NaN,NaN
162,AC,2002-07-01,NaN,NaN,NaN,NaN,NaN,0.57,2.94,1.74,...,NaN,NaN,1.77,6.098524e+06,NaN,NaN,NaN,NaN,NaN,NaN
189,AC,2002-08-01,NaN,NaN,NaN,NaN,NaN,0.29,4.17,2.05,...,NaN,NaN,1.98,6.098524e+06,NaN,NaN,NaN,NaN,NaN,NaN
216,AC,2002-09-01,NaN,NaN,NaN,NaN,NaN,1.00,4.85,2.36,...,NaN,NaN,1.77,6.098524e+06,NaN,NaN,NaN,NaN,NaN,NaN
243,AC,2002-10-01,NaN,NaN,NaN,NaN,NaN,0.71,5.60,2.64,...,NaN,NaN,2.15,6.098524e+06,NaN,NaN,NaN,NaN,NaN,NaN
270,AC,2002-11-01,NaN,NaN,NaN,NaN,NaN,1.13,6.98,4.21,...,NaN,NaN,2.18,6.098524e+06,NaN,NaN,NaN,NaN,NaN,NaN
297,AC,2002-12-01,NaN,NaN,NaN,NaN,NaN,2.45,10.22,5.84,...,NaN,NaN,2.46,6.098524e+06,NaN,NaN,NaN,NaN,NaN,NaN
324,AC,2003-01-01,434223.352964,228569.188542,0.739806,506500.171013,586942.0,1.70,12.53,2.70,...,0.612,0.325,3.46,6.098524e+06,6.582788,NaN,NaN,NaN,NaN,3260.0
351,AC,2003-02-01,434223.352964,228569.188542,0.739806,506500.171013,586942.0,1.51,2.25,2.17,...,0.612,0.325,3.59,6.172460e+06,6.582788,NaN,NaN,NaN,NaN,2191.0
378,AC,2003-03-01,434223.352964,228569.188542,0.739806,506500.171013,586942.0,1.39,3.86,1.59,...,0.612,0.325,3.84,6.172460e+06,6.582788,NaN,NaN,NaN,NaN,2154.0

In [20]:
df_sorted = df_sorted.fillna(NULL)

In [21]:
df_sorted = df_sorted[df_sorted['data'].dt.year >= 2003]

In [23]:
df_sorted.head(10)

,estados,data,pib_pc,pib_pmc,pib_pcpt,pib_cc,populacao,incc,ipca,igp,...,idh_r,idh_e,nfsp,estoque,desemprego,producao,preco_ton,preco_saco,preco_kg,consumo
324,AC,2003-01-01,434223.352964,228569.188542,0.739806,506500.171013,586942.0,1.70,12.53,2.70,...,0.612,0.325,3.46,6.098524e+06,6.582788,-1.0,-1.0,-1.0,-1.0,3260.0
351,AC,2003-02-01,434223.352964,228569.188542,0.739806,506500.171013,586942.0,1.51,2.25,2.17,...,0.612,0.325,3.59,6.172460e+06,6.582788,-1.0,-1.0,-1.0,-1.0,2191.0
378,AC,2003-03-01,434223.352964,228569.188542,0.739806,506500.171013,586942.0,1.39,3.86,1.59,...,0.612,0.325,3.84,6.172460e+06,6.582788,-1.0,-1.0,-1.0,-1.0,2154.0
405,AC,2003-04-01,434223.352964,228569.188542,0.739806,506500.171013,586942.0,1.38,5.13,1.66,...,0.612,0.325,3.95,6.172460e+06,6.582788,34655.0,-1.0,-1.0,-1.0,2643.0
432,AC,2003-05-01,434223.352964,228569.188542,0.739806,506500.171013,586942.0,0.90,6.15,0.41,...,0.612,0.325,4.06,6.172460e+06,6.582788,172597.0,-1.0,-1.0,-1.0,2546.0
459,AC,2003-06-01,434223.352964,228569.188542,0.739806,506500.171013,586942.0,2.84,6.80,-0.67,...,0.612,0.325,3.94,6.172460e+06,6.582788,28018.0,-1.0,-1.0,-1.0,3040.0
486,AC,2003-07-01,434223.352964,228569.188542,0.739806,506500.171013,586942.0,1.05,6.64,-0.70,...,0.612,0.325,3.60,6.172460e+06,6.582788,45130.0,-1.0,-1.0,-1.0,4963.0
513,AC,2003-08-01,434223.352964,228569.188542,0.739806,506500.171013,586942.0,0.99,6.85,-0.20,...,0.612,0.325,3.23,6.172460e+06,6.582788,345698.0,-1.0,-1.0,-1.0,2924.0
540,AC,2003-09-01,434223.352964,228569.188542,0.739806,506500.171013,586942.0,1.44,7.22,0.62,...,0.612,0.325,3.17,6.172460e+06,6.582788,44543.0,-1.0,-1.0,-1.0,5276.0
567,AC,2003-10-01,434223.352964,228569.188542,0.739806,506500.171013,586942.0,0.22,8.05,1.05,...,0.612,0.325,2.70,6.172460e+06,6.582788,187848.0,-1.0,-1.0,-1.0,5262.0

In [24]:
df_sorted.to_csv('../dados/input/df.csv', index=False)