In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# MLP

## 1 camada

In [5]:
df = pd.read_csv("mlp_1c.csv")

In [6]:
df.head()

,camadas,epochs,neuronios,ativacao,normalizacao,mae,rmse,mape
0,1,50,256,relu,<class 'sklearn.preprocessing._data.StandardSc...,55594.437095,90943.193047,0.582761
1,1,50,256,relu,<class 'sklearn.preprocessing._data.MinMaxScal...,97395.157662,172683.920771,1.255887
2,1,50,256,relu,<class 'sklearn.preprocessing._data.PowerTrans...,58061.308827,104899.261069,0.627370
3,1,50,256,swish,<class 'sklearn.preprocessing._data.StandardSc...,83196.878501,137737.318377,0.665834
4,1,50,256,swish,<class 'sklearn.preprocessing._data.MinMaxScal...,98446.787967,179424.628042,1.076871

In [7]:
df[df['mape'] == df['mape'].min()]

,camadas,epochs,neuronios,ativacao,normalizacao,mae,rmse,mape
48,1,150,256,relu,<class 'sklearn.preprocessing._data.StandardSc...,51317.151899,87397.952645,0.495971

In [8]:
df[df['mae'] == df['mae'].min()]

,camadas,epochs,neuronios,ativacao,normalizacao,mae,rmse,mape
48,1,150,256,relu,<class 'sklearn.preprocessing._data.StandardSc...,51317.151899,87397.952645,0.495971

## 2 camadas

In [9]:
df = pd.read_csv("mlp_2c.csv")

In [10]:
df.head()

,camadas,epochs,neuronios,ativacao,normalizacao,mae,rmse,mape
0,1,50,256,relu,<class 'sklearn.preprocessing._data.StandardSc...,55594.437095,90943.193047,0.582761
1,1,50,256,relu,<class 'sklearn.preprocessing._data.MinMaxScal...,97395.157662,172683.920771,1.255887
2,1,50,256,relu,<class 'sklearn.preprocessing._data.PowerTrans...,58061.308827,104899.261069,0.627370
3,1,50,256,swish,<class 'sklearn.preprocessing._data.StandardSc...,83196.878501,137737.318377,0.665834
4,1,50,256,swish,<class 'sklearn.preprocessing._data.MinMaxScal...,98446.787967,179424.628042,1.076871

In [11]:
df[df['mape'] == df['mape'].min()]

,camadas,epochs,neuronios,ativacao,normalizacao,mae,rmse,mape
149,2,150,"(256, 128)",swish,<class 'sklearn.preprocessing._data.PowerTrans...,33027.603856,60232.502534,0.342716

In [12]:
df[df['mae'] == df['mae'].min()]

,camadas,epochs,neuronios,ativacao,normalizacao,mae,rmse,mape
165,2,150,"(128, 64)",swish,<class 'sklearn.preprocessing._data.StandardSc...,29012.623714,44463.813491,0.399527

## 3 camadas

In [13]:
df = pd.read_csv("mlp_3c.csv")

In [14]:
df.head()

,camadas,epochs,neuronios,ativacao,normalizacao,mae,rmse,mape
0,1,50,256,relu,<class 'sklearn.preprocessing._data.StandardSc...,55594.437095,90943.193047,0.582761
1,1,50,256,relu,<class 'sklearn.preprocessing._data.MinMaxScal...,97395.157662,172683.920771,1.255887
2,1,50,256,relu,<class 'sklearn.preprocessing._data.PowerTrans...,58061.308827,104899.261069,0.627370
3,1,50,256,swish,<class 'sklearn.preprocessing._data.StandardSc...,83196.878501,137737.318377,0.665834
4,1,50,256,swish,<class 'sklearn.preprocessing._data.MinMaxScal...,98446.787967,179424.628042,1.076871

In [15]:
df[df['mape'] == df['mape'].min()]

,camadas,epochs,neuronios,ativacao,normalizacao,mae,rmse,mape
249,3,100,"(256, 128, 32)",swish,<class 'sklearn.preprocessing._data.PowerTrans...,26879.660466,50830.11447,0.268092

In [16]:
df[df['mae'] == df['mae'].min()]

,camadas,epochs,neuronios,ativacao,normalizacao,mae,rmse,mape
204,2,100,"(256, 128, 64)",relu,<class 'sklearn.preprocessing._data.StandardSc...,25624.154695,39428.414517,0.407581
238,3,100,"(256, 128, 64)",relu,<class 'sklearn.preprocessing._data.StandardSc...,25624.154695,39428.414517,0.407581

## 4 camadas

In [21]:
df = pd.read_csv("mlp_4c.csv")

In [22]:
df.head()

,camadas,epochs,neuronios,ativacao,normalizacao,mae,rmse,mape
0,1,50,256,relu,<class 'sklearn.preprocessing._data.StandardSc...,55594.437095,90943.193047,0.582761
1,1,50,256,relu,<class 'sklearn.preprocessing._data.MinMaxScal...,97395.157662,172683.920771,1.255887
2,1,50,256,relu,<class 'sklearn.preprocessing._data.PowerTrans...,58061.308827,104899.261069,0.627370
3,1,50,256,swish,<class 'sklearn.preprocessing._data.StandardSc...,83196.878501,137737.318377,0.665834
4,1,50,256,swish,<class 'sklearn.preprocessing._data.MinMaxScal...,98446.787967,179424.628042,1.076871

In [24]:
df[df['mape'] == df['mape'].min()]

,camadas,epochs,neuronios,ativacao,normalizacao,mae,rmse,mape
249,3,100,"(256, 128, 32)",swish,<class 'sklearn.preprocessing._data.PowerTrans...,26879.660466,50830.11447,0.268092

In [25]:
df[df['mae'] == df['mae'].min()]

,camadas,epochs,neuronios,ativacao,normalizacao,mae,rmse,mape
204,2,100,"(256, 128, 64)",relu,<class 'sklearn.preprocessing._data.StandardSc...,25624.154695,39428.414517,0.407581
238,3,100,"(256, 128, 64)",relu,<class 'sklearn.preprocessing._data.StandardSc...,25624.154695,39428.414517,0.407581
292,2,100,"(256, 128, 64, 32)",relu,<class 'sklearn.preprocessing._data.StandardSc...,25624.154695,39428.414517,0.407581

In [26]:
NEURONIOS=[256,128,64,32]
import itertools 
for neuron in itertools.combinations(NEURONIOS, 4):
    print(neuron)

(256, 128, 64, 32)

# LSTM

# 1 camada

In [47]:
df = pd.read_csv("1_camada_lstm.csv")

In [48]:
df.head()

,lstm,dense,epochs,neuronios,ativacao_lstm,ativacao_normal,normalizacao,mae,rmse,mape
0,1,0,50,256,tanh,NaN,<class 'sklearn.preprocessing._data.StandardSc...,145620.711233,230701.962303,0.956742
1,1,0,50,256,tanh,NaN,<class 'sklearn.preprocessing._data.StandardSc...,145675.618287,230904.269365,0.956121
2,1,0,50,256,tanh,NaN,<class 'sklearn.preprocessing._data.MinMaxScal...,145615.780219,230703.060559,0.956318
3,1,0,50,256,tanh,NaN,<class 'sklearn.preprocessing._data.MinMaxScal...,145680.838155,230907.645260,0.956238
4,1,0,50,256,tanh,NaN,<class 'sklearn.preprocessing._data.PowerTrans...,145620.523386,230702.384324,0.956704

In [46]:
df[df['mape'] == df['mape'].min()]

,lstm,dense,epochs,neuronios,ativacao_lstm,ativacao_normal,normalizacao,mae,rmse,mape
204,1,0,150,32,relu,NaN,<class 'sklearn.preprocessing._data.StandardSc...,22694.215808,43918.041892,0.189037

In [89]:
df[df['mae'] == df['mae'].min()]

,lstm,dense,epochs,neuronios,ativacao_lstm,ativacao_normal,normalizacao,mae,rmse,mape
42,1,0,50,64,relu,NaN,<class 'sklearn.preprocessing._data.StandardSc...,21920.128251,35788.082371,0.230807

# 2 camadas

In [53]:
df = pd.read_csv("2_camada_lstm.csv")

In [54]:
df.head()

,lstm,dense,epochs,neuronios,ativacao_lstm,ativacao_normal,normalizacao,timesteps,mae,rmse,mape
0,2,0,50,"(256, 128)",tanh,NaN,<class 'sklearn.preprocessing._data.StandardSc...,3,146535.603309,231284.738465,0.977992
1,2,0,50,"(256, 128)",tanh,NaN,<class 'sklearn.preprocessing._data.StandardSc...,5,146606.448246,231492.731599,0.978083
2,2,0,50,"(256, 128)",tanh,NaN,<class 'sklearn.preprocessing._data.MinMaxScal...,3,146537.989216,231286.250160,0.978048
3,2,0,50,"(256, 128)",tanh,NaN,<class 'sklearn.preprocessing._data.MinMaxScal...,5,146615.236751,231498.297580,0.978290
4,2,0,50,"(256, 128)",tanh,NaN,<class 'sklearn.preprocessing._data.PowerTrans...,3,146535.624945,231284.752156,0.977992

In [55]:
df[df['mape'] == df['mape'].min()]

,lstm,dense,epochs,neuronios,ativacao_lstm,ativacao_normal,normalizacao,timesteps,mae,rmse,mape
229,2,0,150,"(256, 128)",swish,NaN,<class 'sklearn.preprocessing._data.StandardSc...,5,25002.061556,47565.155206,0.194949

In [56]:
df[df['mae'] == df['mae'].min()]

,lstm,dense,epochs,neuronios,ativacao_lstm,ativacao_normal,normalizacao,timesteps,mae,rmse,mape
231,2,0,150,"(256, 128)",swish,NaN,<class 'sklearn.preprocessing._data.MinMaxScal...,5,22157.857039,41223.864247,0.20139

In [94]:
df = pd.read_csv("lstm_2c.csv")

In [95]:
df.head()

,gru,dense,epochs,neuronios,ativacao_gru,ativacao_normal,normalizacao,timesteps,mae,rmse,mape
0,2,0,150,"(64, 32)",tanh,NaN,<class 'sklearn.preprocessing._data.StandardSc...,3,146758.589130,231426.080452,0.983246
1,2,0,150,"(64, 32)",tanh,NaN,<class 'sklearn.preprocessing._data.StandardSc...,5,146821.743253,231629.139848,0.983164
2,2,0,150,"(64, 32)",tanh,NaN,<class 'sklearn.preprocessing._data.MinMaxScal...,3,146759.636921,231426.744908,0.983270
3,2,0,150,"(64, 32)",tanh,NaN,<class 'sklearn.preprocessing._data.MinMaxScal...,5,146822.641202,231629.709028,0.983185
4,2,0,150,"(64, 32)",tanh,NaN,<class 'sklearn.preprocessing._data.PowerTrans...,3,146758.674762,231426.134755,0.983248

In [96]:
df[df['mape'] == df['mape'].min()]

,gru,dense,epochs,neuronios,ativacao_gru,ativacao_normal,normalizacao,timesteps,mae,rmse,mape
51,2,0,150,"(128, 64)",swish,NaN,<class 'sklearn.preprocessing._data.MinMaxScal...,5,26763.250349,55239.973041,0.218563

In [97]:
df[df['mae'] == df['mae'].min()]

,gru,dense,epochs,neuronios,ativacao_gru,ativacao_normal,normalizacao,timesteps,mae,rmse,mape
69,2,0,150,"(256, 32)",swish,NaN,<class 'sklearn.preprocessing._data.MinMaxScal...,5,22440.350515,40414.132892,0.230471

# GRU

## 1 camada

In [61]:
df = pd.read_csv("gru_1c.csv")

In [62]:
df.head()

,gru,dense,epochs,neuronios,ativacao_gru,ativacao_normal,normalizacao,timesteps,mae,rmse,mape
0,1,0,100,128,tanh,NaN,<class 'sklearn.preprocessing._data.StandardSc...,3,145610.034504,230699.435149,0.956182
1,1,0,100,128,tanh,NaN,<class 'sklearn.preprocessing._data.StandardSc...,5,145679.347199,230906.704828,0.956203
2,1,0,100,128,tanh,NaN,<class 'sklearn.preprocessing._data.MinMaxScal...,3,145615.453693,230702.855604,0.956310
3,1,0,100,128,tanh,NaN,<class 'sklearn.preprocessing._data.MinMaxScal...,5,145682.894437,230908.942803,0.956287
4,1,0,100,128,tanh,NaN,<class 'sklearn.preprocessing._data.PowerTrans...,3,145610.325275,230699.618674,0.956189

In [63]:
df[df['mape'] == df['mape'].min()]

,gru,dense,epochs,neuronios,ativacao_gru,ativacao_normal,normalizacao,timesteps,mae,rmse,mape
69,1,0,150,128,swish,NaN,<class 'sklearn.preprocessing._data.MinMaxScal...,5,29343.047004,66767.873153,0.245196

In [39]:
df[df['mae'] == df['mae'].min()]

,gru,dense,epochs,neuronios,ativacao_gru,ativacao_normal,normalizacao,timesteps,mae,rmse,mape
30,1,0,100,64,swish,NaN,<class 'sklearn.preprocessing._data.StandardSc...,3,21752.504851,33752.908425,0.261156

In [40]:
df = pd.read_csv("gru_1c_b.csv")

In [41]:
df.head()

,gru,dense,epochs,neuronios,ativacao_gru,ativacao_normal,normalizacao,timesteps,mae,rmse,mape
0,1,0,150,256,tanh,NaN,<class 'sklearn.preprocessing._data.StandardSc...,3,141966.990761,228412.474542,0.872843
1,1,0,150,256,tanh,NaN,<class 'sklearn.preprocessing._data.StandardSc...,5,142039.425970,228622.659079,0.872801
2,1,0,150,256,tanh,NaN,<class 'sklearn.preprocessing._data.MinMaxScal...,3,141975.684731,228417.904291,0.873037
3,1,0,150,256,tanh,NaN,<class 'sklearn.preprocessing._data.MinMaxScal...,5,142044.335585,228625.724095,0.872911
4,1,0,150,256,tanh,NaN,<class 'sklearn.preprocessing._data.PowerTrans...,3,141967.709914,228412.923675,0.872859

In [42]:
df[df['mape'] == df['mape'].min()]

,gru,dense,epochs,neuronios,ativacao_gru,ativacao_normal,normalizacao,timesteps,mae,rmse,mape
15,1,0,150,256,swish,NaN,<class 'sklearn.preprocessing._data.MinMaxScal...,5,26750.987571,52281.184412,0.244416

In [43]:
df[df['mae'] == df['mae'].min()]

,gru,dense,epochs,neuronios,ativacao_gru,ativacao_normal,normalizacao,timesteps,mae,rmse,mape
15,1,0,150,256,swish,NaN,<class 'sklearn.preprocessing._data.MinMaxScal...,5,26750.987571,52281.184412,0.244416

## 2 camadas

In [57]:
df = pd.read_csv("gru_2c.csv")

In [58]:
df.head()

,gru,dense,epochs,neuronios,ativacao_gru,ativacao_normal,normalizacao,timesteps,mae,rmse,mape
0,2,0,50,"(256, 128)",tanh,NaN,<class 'sklearn.preprocessing._data.StandardSc...,3,146532.824055,231282.977660,0.977926
1,2,0,50,"(256, 128)",tanh,NaN,<class 'sklearn.preprocessing._data.StandardSc...,5,146599.372223,231488.250393,0.977916
2,2,0,50,"(256, 128)",tanh,NaN,<class 'sklearn.preprocessing._data.MinMaxScal...,3,146535.074421,231284.403420,0.977979
3,2,0,50,"(256, 128)",tanh,NaN,<class 'sklearn.preprocessing._data.MinMaxScal...,5,146601.330655,231489.490657,0.977962
4,2,0,50,"(256, 128)",tanh,NaN,<class 'sklearn.preprocessing._data.PowerTrans...,3,146532.916341,231283.036128,0.977928

In [59]:
df[df['mape'] == df['mape'].min()]

,gru,dense,epochs,neuronios,ativacao_gru,ativacao_normal,normalizacao,timesteps,mae,rmse,mape
267,2,0,150,"(256, 32)",swish,NaN,<class 'sklearn.preprocessing._data.MinMaxScal...,5,24991.856829,50601.765913,0.200679

In [60]:
df[df['mae'] == df['mae'].min()]

,gru,dense,epochs,neuronios,ativacao_gru,ativacao_normal,normalizacao,timesteps,mae,rmse,mape
102,2,0,50,"(64, 32)",swish,NaN,<class 'sklearn.preprocessing._data.StandardSc...,3,22321.80551,35788.28879,0.278496

# Bidirectional

## GRU

### 1 camada

In [81]:
df = pd.read_csv("bi_gru_1c.csv")

In [82]:
df.head()

,bi_lstm,dense,epochs,neuronios,ativacao_lstm,ativacao_normal,normalizacao,mae,rmse,mape
0,1,0,50,256,tanh,NaN,<class 'sklearn.preprocessing._data.StandardSc...,143771.247382,229541.886752,0.913604
1,1,0,50,256,tanh,NaN,<class 'sklearn.preprocessing._data.StandardSc...,143848.452339,229754.600862,0.913736
2,1,0,50,256,tanh,NaN,<class 'sklearn.preprocessing._data.MinMaxScal...,143785.517641,229550.846636,0.913928
3,1,0,50,256,tanh,NaN,<class 'sklearn.preprocessing._data.MinMaxScal...,143856.611569,229759.721779,0.913921
4,1,0,50,256,tanh,NaN,<class 'sklearn.preprocessing._data.PowerTrans...,143772.165899,229542.463401,0.913625

In [83]:
df[df['mape'] == df['mape'].min()]

,bi_lstm,dense,epochs,neuronios,ativacao_lstm,ativacao_normal,normalizacao,mae,rmse,mape
171,1,0,150,128,relu,NaN,<class 'sklearn.preprocessing._data.MinMaxScal...,19951.518352,33979.835553,0.180243

In [84]:
df[df['mae'] == df['mae'].min()]

,bi_lstm,dense,epochs,neuronios,ativacao_lstm,ativacao_normal,normalizacao,mae,rmse,mape
98,1,0,100,128,relu,NaN,<class 'sklearn.preprocessing._data.MinMaxScal...,19498.856498,32666.108064,0.19263

### 2 camada

In [85]:
df = pd.read_csv("bi_2c_gru.csv")

In [86]:
df.head()

,gru,dense,epochs,neuronios,ativacao_gru,ativacao_normal,normalizacao,timesteps,mae,rmse,mape
0,2,0,100,"(256, 128)",tanh,NaN,<class 'sklearn.preprocessing._data.StandardSc...,3,143792.768322,229555.399341,0.914093
1,2,0,100,"(256, 128)",tanh,NaN,<class 'sklearn.preprocessing._data.StandardSc...,5,143859.642480,229761.624107,0.913991
2,2,0,100,"(256, 128)",tanh,NaN,<class 'sklearn.preprocessing._data.MinMaxScal...,3,143797.018735,229558.068240,0.914190
3,2,0,100,"(256, 128)",tanh,NaN,<class 'sklearn.preprocessing._data.MinMaxScal...,5,143863.529745,229764.063936,0.914079
4,2,0,100,"(256, 128)",tanh,NaN,<class 'sklearn.preprocessing._data.PowerTrans...,3,143792.985579,229555.535752,0.914098

In [87]:
df[df['mape'] == df['mape'].min()]

,gru,dense,epochs,neuronios,ativacao_gru,ativacao_normal,normalizacao,timesteps,mae,rmse,mape
97,2,0,100,"(64, 32)",relu,NaN,<class 'sklearn.preprocessing._data.StandardSc...,5,20979.679291,34916.595943,0.202067

In [88]:
df[df['mae'] == df['mae'].min()]

,gru,dense,epochs,neuronios,ativacao_gru,ativacao_normal,normalizacao,timesteps,mae,rmse,mape
86,2,0,100,"(128, 32)",swish,NaN,<class 'sklearn.preprocessing._data.MinMaxScal...,3,19445.077824,30473.984802,0.223504

In [89]:
df = pd.read_csv("bi_2c_gru_50.csv")

In [90]:
df.head()

,gru,dense,epochs,neuronios,ativacao_gru,ativacao_normal,normalizacao,timesteps,mae,rmse,mape
0,2,0,50,"(256, 128)",tanh,NaN,<class 'sklearn.preprocessing._data.StandardSc...,3,145613.583825,230701.675379,0.956266
1,2,0,50,"(256, 128)",tanh,NaN,<class 'sklearn.preprocessing._data.StandardSc...,5,145680.490631,230907.426222,0.956230
2,2,0,50,"(256, 128)",tanh,NaN,<class 'sklearn.preprocessing._data.MinMaxScal...,3,145617.980671,230704.450595,0.956369
3,2,0,50,"(256, 128)",tanh,NaN,<class 'sklearn.preprocessing._data.MinMaxScal...,5,145684.425199,230909.908579,0.956323
4,2,0,50,"(256, 128)",tanh,NaN,<class 'sklearn.preprocessing._data.PowerTrans...,3,145613.754479,230701.783092,0.956270

In [91]:
df[df['mape'] == df['mape'].min()]

,gru,dense,epochs,neuronios,ativacao_gru,ativacao_normal,normalizacao,timesteps,mae,rmse,mape
11,2,0,50,"(256, 128)",relu,NaN,<class 'sklearn.preprocessing._data.PowerTrans...,5,20992.537895,35816.538065,0.201074

In [76]:
df[df['mae'] == df['mae'].min()]

,gru,dense,epochs,neuronios,ativacao_gru,ativacao_normal,normalizacao,timesteps,mae,rmse,mape
11,2,0,50,"(256, 128)",relu,NaN,<class 'sklearn.preprocessing._data.PowerTrans...,5,20992.537895,35816.538065,0.201074

In [92]:
df = pd.read_csv("bi_2c_gru_150.csv")

In [93]:
df.head()

,gru,dense,epochs,neuronios,ativacao_gru,ativacao_normal,normalizacao,timesteps,mae,rmse,mape
0,2,0,150,"(256, 128)",tanh,NaN,<class 'sklearn.preprocessing._data.StandardSc...,3,141976.129342,228418.181975,0.873047
1,2,0,150,"(256, 128)",tanh,NaN,<class 'sklearn.preprocessing._data.StandardSc...,5,142042.877375,228624.813745,0.872878
2,2,0,150,"(256, 128)",tanh,NaN,<class 'sklearn.preprocessing._data.MinMaxScal...,3,141980.367969,228420.829254,0.873142
3,2,0,150,"(256, 128)",tanh,NaN,<class 'sklearn.preprocessing._data.MinMaxScal...,5,142046.752006,228627.232663,0.872965
4,2,0,150,"(256, 128)",tanh,NaN,<class 'sklearn.preprocessing._data.PowerTrans...,3,141976.348004,228418.318541,0.873052

In [94]:
df[df['mape'] == df['mape'].min()]

,gru,dense,epochs,neuronios,ativacao_gru,ativacao_normal,normalizacao,timesteps,mae,rmse,mape
87,2,0,150,"(128, 32)",swish,NaN,<class 'sklearn.preprocessing._data.MinMaxScal...,5,20883.449011,36594.077879,0.200743

In [80]:
df[df['mae'] == df['mae'].min()]

,gru,dense,epochs,neuronios,ativacao_gru,ativacao_normal,normalizacao,timesteps,mae,rmse,mape
87,2,0,150,"(128, 32)",swish,NaN,<class 'sklearn.preprocessing._data.MinMaxScal...,5,20883.449011,36594.077879,0.200743

## LSTM

### 1 camada

In [95]:
df = pd.read_csv("bi_lstm_1c.csv")

In [96]:
df.head()

,bi_lstm,dense,epochs,neuronios,ativacao_lstm,ativacao_normal,normalizacao,mae,rmse,mape
0,1,0,50,256,tanh,NaN,<class 'sklearn.preprocessing._data.StandardSc...,143800.326110,229551.167659,0.914928
1,1,0,50,256,tanh,NaN,<class 'sklearn.preprocessing._data.StandardSc...,143845.726225,229752.689283,0.913692
2,1,0,50,256,tanh,NaN,<class 'sklearn.preprocessing._data.MinMaxScal...,143792.126001,229554.991565,0.914079
3,1,0,50,256,tanh,NaN,<class 'sklearn.preprocessing._data.MinMaxScal...,143855.390686,229758.953647,0.913894
4,1,0,50,256,tanh,NaN,<class 'sklearn.preprocessing._data.PowerTrans...,143804.931273,229552.809621,0.915042

In [97]:
df[df['mape'] == df['mape'].min()]

,bi_lstm,dense,epochs,neuronios,ativacao_lstm,ativacao_normal,normalizacao,mae,rmse,mape
207,1,0,150,32,relu,NaN,<class 'sklearn.preprocessing._data.MinMaxScal...,19184.841707,33942.03968,0.173411

In [98]:
df[df['mae'] == df['mae'].min()]

,bi_lstm,dense,epochs,neuronios,ativacao_lstm,ativacao_normal,normalizacao,mae,rmse,mape
207,1,0,150,32,relu,NaN,<class 'sklearn.preprocessing._data.MinMaxScal...,19184.841707,33942.03968,0.173411

### 2 camadas

In [99]:
df = pd.read_csv("bi_2c_lstm.csv")

In [100]:
df.head()

,gru,dense,epochs,neuronios,ativacao_gru,ativacao_normal,normalizacao,timesteps,mae,rmse,mape
0,2,0,50,"(256, 128)",tanh,NaN,<class 'sklearn.preprocessing._data.StandardSc...,3,145620.891071,230706.287617,0.956438
1,2,0,50,"(256, 128)",tanh,NaN,<class 'sklearn.preprocessing._data.StandardSc...,5,145680.155150,230907.214571,0.956222
2,2,0,50,"(256, 128)",tanh,NaN,<class 'sklearn.preprocessing._data.MinMaxScal...,3,145624.992267,230708.876298,0.956535
3,2,0,50,"(256, 128)",tanh,NaN,<class 'sklearn.preprocessing._data.MinMaxScal...,5,145683.533956,230909.346283,0.956302
4,2,0,50,"(256, 128)",tanh,NaN,<class 'sklearn.preprocessing._data.PowerTrans...,3,145621.119968,230706.432088,0.956443

In [101]:
df[df['mape'] == df['mape'].min()]

,gru,dense,epochs,neuronios,ativacao_gru,ativacao_normal,normalizacao,timesteps,mae,rmse,mape
141,2,0,100,"(256, 64)",swish,NaN,<class 'sklearn.preprocessing._data.MinMaxScal...,5,21598.847529,38171.794156,0.21287

In [102]:
df[df['mae'] == df['mae'].min()]

,gru,dense,epochs,neuronios,ativacao_gru,ativacao_normal,normalizacao,timesteps,mae,rmse,mape
68,2,0,50,"(128, 64)",swish,NaN,<class 'sklearn.preprocessing._data.MinMaxScal...,3,20668.289513,32847.05664,0.220403

In [106]:
df = pd.read_csv("bi_2c_lstm_150.csv")

In [107]:
df.head()

,gru,dense,epochs,neuronios,ativacao_gru,ativacao_normal,normalizacao,timesteps,mae,rmse,mape
0,2,0,150,"(256, 128)",tanh,NaN,<class 'sklearn.preprocessing._data.StandardSc...,3,142000.643695,228433.493350,0.873594
1,2,0,150,"(256, 128)",tanh,NaN,<class 'sklearn.preprocessing._data.StandardSc...,5,142042.498366,228624.577133,0.872870
2,2,0,150,"(256, 128)",tanh,NaN,<class 'sklearn.preprocessing._data.MinMaxScal...,3,142004.721484,228436.040447,0.873685
3,2,0,150,"(256, 128)",tanh,NaN,<class 'sklearn.preprocessing._data.MinMaxScal...,5,142045.855020,228626.672674,0.872945
4,2,0,150,"(256, 128)",tanh,NaN,<class 'sklearn.preprocessing._data.PowerTrans...,3,142000.871103,228433.635394,0.873599

In [108]:
df[df['mape'] == df['mape'].min()]

,gru,dense,epochs,neuronios,ativacao_gru,ativacao_normal,normalizacao,timesteps,mae,rmse,mape
99,2,0,150,"(64, 32)",relu,NaN,<class 'sklearn.preprocessing._data.MinMaxScal...,5,22963.653186,38688.186579,0.201691

In [131]:
df[df['mae'] == df['mae'].min()]

,bi_lstm,dense,epochs,neuronios,ativacao_lstm,ativacao_normal,normalizacao,mae,rmse,mape
207,1,0,150,32,relu,NaN,<class 'sklearn.preprocessing._data.MinMaxScal...,19184.841707,33942.03968,0.173411