In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
PATH="https://raw.githubusercontent.com/LeiteJu/TCC/main/data/entrada/"

In [5]:
df = pd.read_csv("https://raw.githubusercontent.com/LeiteJu/TCC/main/data/entrada/pib_precos_constantes.csv")
df.drop(["Código", "Estado"], inplace=True, axis=1)
df = df.melt(id_vars=["Sigla"], value_vars=[f"{i}" for i in range (1985,2020)], value_name="pib_pc", var_name="anos")

In [6]:
df.head()

  Sigla  anos        pib_pc
0    AC  1985  3.263960e+06
1    AL  1985  1.307516e+07
2    AM  1985  1.268226e+07
3    AP  1985  2.396901e+06
4    BA  1985  5.417285e+07

In [7]:
pib_pmc = pd.read_csv("https://raw.githubusercontent.com/LeiteJu/TCC/main/data/entrada/pib_precos_mercado_corrente.csv")
pib_pmc.drop(["Código", "Estado"], inplace=True, axis=1)
pib_pmc = pib_pmc.melt(id_vars=["Sigla"], value_vars=[f"{i}" for i in range (1985,2020)], value_name="pib_pmc", var_name="anos")

In [8]:
df["pib_pmc"] = pib_pmc["pib_pmc"]

In [9]:
pib_pc = pd.read_csv("https://raw.githubusercontent.com/LeiteJu/TCC/main/data/entrada/pib_per_capita.csv")
pib_pc.drop(["Código", "Estado"], inplace=True, axis=1)
pib_pc = pib_pc.melt(id_vars=["Sigla"], value_vars=[f"{i}" for i in range (1985,2020)], value_name="pib_pc", var_name="anos")

In [10]:
df["pib_pc"] = pib_pc["pib_pc"]

In [11]:
pop = pd.read_csv(PATH+'populacao.csv')

In [12]:
df.head()

  Sigla  anos     pib_pc   pib_pmc
0    AC  1985   9.215645  0.000620
1    AL  1985   5.879142  0.004075
2    AM  1985   7.306192  0.007241
3    AP  1985  10.554527  0.000574
4    BA  1985   5.134586  0.025442

In [13]:
df["anos"]=df["anos"].astype("int64")

In [14]:
df=pd.merge(df,pop, left_on=["anos", "Sigla"], right_on=["ano", "sigla_uf"], how="left").drop(["ano", "sigla_uf"], axis=1)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 945 entries, 0 to 944
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Sigla      945 non-null    object
 1   anos       945 non-null    int64
 2   pib_pc     941 non-null    float64
 3   pib_pmc    941 non-null    float64
 4   populacao  783 non-null    float64
dtypes: float64(3), int64(1), object(1)
memory usage: 44.3+ KB

In [16]:
pib_cc = pd.read_csv(f"{PATH}pib_construcao_civil.csv")
pib_cc.drop(["Código", "Estado"], inplace=True, axis=1)
pib_cc = pib_cc.melt(id_vars=["Sigla"], value_vars=[f"{i}" for i in range (1985,2020)], value_name="pib_cc", var_name="anos")

In [17]:
df["pib_cc"] = pib_cc["pib_cc"]

In [50]:
ipca = pd.read_csv(f"{PATH}ipca.csv")

In [51]:
ipca=ipca.T
ipca.columns=ipca.iloc[0].astype("int64").to_list()
ipca=ipca.iloc[1:]

In [52]:
ipca=pd.DataFrame(ipca.mean()).T

In [60]:
df.columns

Index(['Sigla', 'anos', 'pib_pc', 'pib_pmc', 'populacao', 'pib_cc', 'ipca'], dtype='object')

In [61]:
for ano in range(1991,2020):
    
    df[df["anos"] == ano]["ipca"] = ipca[ano]

C:\Users\julia\AppData\Local\Temp\ipykernel_14608\2238290725.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[df["anos"] == ano]["ipca"] = ipca[ano]

In [67]:
ipca.columns.isin([i for i in range(1991,2020)])

array([False, False, False, False, False, False, False, False, False,
       False, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True, False, False, False])

In [31]:
target = pd.read_csv("https://raw.githubusercontent.com/LeiteJu/TCC/main/data/csv/target.csv")
target_abs = pd.read_csv("https://raw.githubusercontent.com/LeiteJu/TCC/main/data/csv/target_abs.csv")

In [32]:
target.head()

,data,AC,AL,AM,AP,BA,CE,DF,ES,GO,...,PR,RJ,RN,RO,RR,RS,SC,SE,SP,TO
0,199001,1450.0,27421.0,21819.0,275.0,98829.0,47569.0,32020.0,52437.0,57264.0,...,142103.0,221533.0,19353.0,9903.0,2040.0,138590.0,91667.0,23721.0,639210.0,3258.0
1,199002,938.0,20324.0,22683.0,1000.0,79133.0,42856.0,31612.0,36737.0,65472.0,...,125305.0,183828.0,15043.0,8953.0,2029.0,89165.0,65132.0,14096.0,593101.0,2958.0
2,199003,1160.0,18584.0,13819.0,1100.0,72574.0,22004.0,37038.0,40234.0,58816.0,...,112970.0,182124.0,10654.0,6200.0,2367.0,109681.0,75893.0,14728.0,573829.0,3735.0
3,199004,0.0,20972.0,16168.0,1000.0,77964.0,29635.0,32340.0,40937.0,56475.0,...,113938.0,172505.0,11015.0,3774.0,751.0,108513.0,78178.0,15560.0,549760.0,2866.0
4,199005,1643.0,30874.0,22104.0,2015.0,102595.0,45320.0,34414.0,53728.0,73296.0,...,146154.0,241736.0,10916.0,11742.0,1774.0,138613.0,95485.0,19020.0,676138.0,7227.0

In [33]:
target_abs.head()

,data,AC,AL,AM,AP,BA,CE,DF,ES,GO,...,PR,RJ,RN,RO,RR,RS,SC,SE,SP,TO
0,199001,1450.0,27421.0,21819.0,275.0,98829.0,47569.0,32020.0,52437.0,57264.0,...,142103.0,221533.0,19353.0,9903.0,2040.0,138590.0,91667.0,23721.0,639210.0,3258.0
1,199002,938.0,20324.0,22683.0,1000.0,79133.0,42856.0,31612.0,36737.0,65472.0,...,125305.0,183828.0,15043.0,8953.0,2029.0,89165.0,65132.0,14096.0,593101.0,2958.0
2,199003,1160.0,18584.0,13819.0,1100.0,72574.0,22004.0,37038.0,40234.0,58816.0,...,112970.0,182124.0,10654.0,6200.0,2367.0,109681.0,75893.0,14728.0,573829.0,3735.0
3,199004,0.0,20972.0,16168.0,1000.0,77964.0,29635.0,32340.0,40937.0,56475.0,...,113938.0,172505.0,11015.0,3774.0,751.0,108513.0,78178.0,15560.0,549760.0,2866.0
4,199005,1643.0,30874.0,22104.0,2015.0,102595.0,45320.0,34414.0,53728.0,73296.0,...,146154.0,241736.0,10916.0,11742.0,1774.0,138613.0,95485.0,19020.0,676138.0,7227.0

In [1]:
df

NameError: name 'df' is not defined